:root {
  --bg-default: #ecf1f5;
  --text-color: #2e3e54;
  --text-placeholder: #bfbfbf;
  --gray-100: #f2f2f2;
  --gray-200: #f8faf9;
  --gray-250: #d5d8dc;
  --gray-300: #808283;
  --yellow-100: #e58e00;
  --green-100: #428f6a;
  --red-100: #e78687;
}

body {
  background-color: var(--bg-default);
  color: var(--text-color);
}

h1 {
  margin: 4px;
  font-size: 1.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
